.container {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
}

.h1box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #fdfdfd;
  gap:1rem;
}
