/* answer.module.css */
.container {
    background-color: #edf2ff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}

.tabContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid gray;
    border-radius: 25px;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
}

.tabItem {
    font-size: 1rem;
    cursor: pointer;
    color: black;
    opacity: 0.6;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background: none;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.tabItem:hover {
    opacity: 1;
}

.tabItemActive {
    opacity: 1;
    color: white;
    background-color: #ff6f61; /* 胶囊的背景颜色 */
}

.tabSlider {
    position: absolute;
    bottom: 0;
    height: 4px; /* 胶囊的高度 */
    background-color: #ff6f61; /* 胶囊的颜色 */
    border-radius: 20px; /* 胶囊的圆角 */
    transition: all 0.3s ease; /* 动画效果 */
}

.tabContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.slider {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #ff6f61; /* 或者您想要的颜色 */
    transition: all 0.3s ease;
}
