 /* nav bar */
 .navBar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .tabContainer {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 5px;
    position: relative;
  }
  
  .navItem {
   font-size: 1rem;
   cursor: pointer;
   color: black;
   opacity: 0.6;
   text-decoration: none;
   transition: all 0.3s ease-in-out;
   background: none;
   border: none;
   padding: 10px 20px;
   border-radius: 20px;
   position: relative;
   z-index: 1;
 }
 
 .navItem:hover {
   opacity: 1;
 }
  
  .navItemActive {
   opacity: 1;
   color: white;
  }

  .slider {
    position: absolute;
    height: 80%;
    background-color: #ff6f61;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    top: 10%;
    z-index: 0;
  }
